<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>
<appSettings>
  <add key="SavePath" value="C:\Models\" />
  <add key="Namespace" value="Project.Model" />
  <add key="ClassName" value="{0}" />
  <add key="Description" value="MS_Description" />
  <add key="Extends" value="" />
  <add key="SqlConnString" value="Data Source=.;Initial Catalog=test;User Id=sa;Password=123456;" />
</appSettings>
</configuration>